

.o-appMenu
{
    position: fixed;
    top: 1%;
    left: 5%;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    visibility: hidden;
     

}

.o-appMenuButton
{
    position: fixed;
    top: 2%;
    right: 5%;
    height: 40px;
    width: 40px;    
    transform: rotate(90deg);
    font-size: 150%;
    font-weight: bold;
    text-align: center;

}

.o-appMenuBack{
    text-align: left;
    font-size: 250%;
    padding-left: 10%;
}
